/* Page numéro 1 */



html,body{height: 100%;margin:0;width:100%;}


a{text-decoration: none;color:white;}


.text1{font-size: 50px;
	   font-family: 'Russo One', sans-serif;
	   color:white;
	   position: absolute;
       top: 50%; left: 50%;
       transform: translate(-50%, -50%);
       border-style: dashed;border-radius:15px;
       padding-left: 1%;
       padding-right: 1% ;}

#myVideo{
         height: 100%;
    width: 100%;
    object-fit: cover;
    right: 0;
    bottom: 0;
   	}



/* Page numéro 2 */



.title1{font-family: 'Russo One';
        font-size: 60px;
        color: white;
        background-color: black;

    }
	    

.comp{font-family: 'Russo One';
      font-size: 40px;
      
      margin-right: 25%;
      margin-left: 25%;
      transition-property: border-radius;
      transition-duration: 2s;
      border: 15px solid transparent;
      padding: 15px;
      border-image: url(ciel.gif) 50 round;
      text-transform: uppercase;
    	background: url(ciel2.gif);
    	-webkit-background-clip:text;
    	-webkit-text-fill-color:transparent;
    }

#page2{text-align: center;}
.para{font-family: 'Bangers',cursive;font-size: 110%;}



#pied{background: black;width: 100%;height: 100px;position:absolute;}
#mains{color:white;font-family: 'Russo One';float: right;padding-right: 10%; font-size: 150%}
















